<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1> <%= @post.title %> </h1>
      <%= raw @post.content%>

      <div class='like'>
        <%= render 'likes/form_like' %>
      </div>

      <div id='comment'>
        <%= render 'comments/comment_area' %>
      </div>
      <div id='comment-form'>
        <%= render 'comments/form_comment' %>
      </div>
    </div>
  </div>
</div>
